[package]
name = "full_moon"
version = "0.9.0"
authors = ["Kampfkarren <kampfkarren@gmail.com>"]
description = "A lossless Lua 5.1 parser"
license = "MPL-2.0"
readme = "README.md"
repository = "https://github.com/Kampfkarren/full-moon"
categories = ["parsing"]
keywords = ["lua", "parser", "lua51"]
edition = "2018"

[package.metadata.docs.rs]
features = ["roblox", "lua52"]

[features]
default = ["serde"]
roblox = ["non-exhaustive"] # Luau is always changing, and therefore is non-exhaustive.
lua52 = []
no-source-tests = []

# non-exhaustive is its own feature, as Lua 5.1 isn't going to update to add more.
# Opting into non-standard Lua 5.1 syntax is always its own feature flag, and therefore will need to
# be handled by the developer anyway.
non-exhaustive = []

[dependencies]
bytecount = "0.5"
cfg-if = "1.0"
derive_more = "0.99"
full_moon_derive = { path = "../full-moon-derive", version = "=0.5.0" }
paste = "0.1"
serde = { version = "1.0", features = ["derive", "rc"], optional = true }
nom = "6.1.2"

[dev-dependencies]
criterion = "0.2"
pretty_assertions = "0.6.1"
serde_json = "1.0"

[[bench]]
name = "date"
path = "../benches/date.rs"
harness = false

[[bench]]
name = "t"
path = "../benches/t.rs"
harness = false
