name: Test full-moon
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Test (default features)
      run: |
        cd full-moon
        cargo test
    - name: Test (roblox feature)
      run: |
        cd full-moon
        cargo test --features roblox
    - name: Test (Lua 5.2 feature)
      run: |
        cd full-moon
        cargo test --features lua52
    - name: Test (no default features)
      run: |
        cd full-moon
        cargo test --no-default-features --features serde
    - name: Clippy
      run: |
        cargo clippy -- -D warnings
    - name: Rustfmt
      run: |
        cargo fmt -- --check
