name: Test full-moon
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Test (default features)
      run: |
        cd full-moon
        cargo test
    - name: Test (roblox feature)
      run: |
        cd full-moon
        cargo test --features roblox
    - name: Test (Lua 5.2 feature)
      run: |
        cd full-moon
        cargo test --features lua52
    - name: Test (Lua 5.3 feature)
      run: |
        cd full-moon
        cargo test --features lua53
    - name: Test (Lua 5.4 feature)
      run: |
        cd full-moon
        cargo test --features lua54
    - name: Test (all features)
      run: |
        cd full-moon 
        cargo test --release --features roblox,lua52,lua53,lua54
    - name: Test (no default features)
      run: |
        cd full-moon
        cargo test --no-default-features --features serde
    - name: Rustfmt
      run: |
        cargo fmt -- --check
